/** SOME CUSTOM STYLES FOR THE PAYFAST DEM **/

.btn {
    cursor: pointer;
    border-radius: 7%;
}

#pfdemo-aside .pfdemo-footer {
    h3 {
        font-size: 24px
    }
    .pfooter {
        font-size: 18px;
    }
}

.custom-btn {
    cursor: pointer;
}

.portfolio-wrap-2 {
    .img {
        opacity: 0.5;
    }
    &:hover {
        .img {
            opacity: 1;
        }
        .text {
            background: rgba(0, 0, 0, 0.7);
            width: 100%;
        }
    }
}

.single .img-single {
    max-height: 100vh;
}

.book-now-btn-cinema,
.book-now-btn-movie {
    color: #f3c623;
    border: 1px solid #f3c623;
    padding: 10px;
    font-size: 20px;
    opacity: 0.5;
    margin-top: 5px;
    display: block;
    &:hover {
        opacity: 1;
    }
}

.book-now-btn-movie {
    float: right;
}

.book-now-btn-cinema {
    margin-top: 50px;
}

.register-block,
.login-block {
    display: none;
}

.pfdemo-active {
    color: #f3c623 !important;
}

.booking-form-block {
    display: none;
}

.pricing .text {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 350px;
    .btn-custom {
        position: absolute;
        bottom: 10px;
    }
}

.btn-custom-load {
    &.greyed-out {
        background: #666;
    }
    margin-top: -70px;
    height: 70px;
}

.greyed-out {
    color: #333;
    border-color: #333;
    cursor: not-allowed;
    opacity: 0.8;
}

//
#cinema-selection-block,
#movie-selection-block {
    color: #888;
    .booking-cinema-selection-item,
    .booking-movie-selection-item {
        opacity: 0.5;
        margin-bottom: 20px;
        cursor: pointer;
        img {
            width: 100%;
            height: 20vh;
            object-fit: cover;
            margin: 15px 0px;
        }
        strong {
            font-size: 20px;
            margin-bottom: 15px;
        }
        p {
            font-size: 14px;
            margin-bottom: 15px;
        }
        &:hover {
            opacity: 1;
            background: #111;
            color: #f3c623
        }
    }
}

.booking-timeslot-selection-item {
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    &:hover {
        opacity: 1;
        background: #111;
        color: #f3c623
    }
}

#bookingTimeslotDateTime {
    text-align: center;
    font-size: 25px;
    margin: 20px 0px;
    display: inline-block;
    color: #FFF;
}

#bookingTimeslotTheatre {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#bookingSeatAmount {
    text-align: center;
    margin: 20px 0px;
    color: #FFF;
    font-size: 100px;
}

.booking-seat-selection-item {
    strong {
        font-size: 16px;
        padding: 20px;
        border: 1px solid #888;
        display: block;
        margin: 20px auto;
        text-align: center;
        cursor: pointer;
        span {
            font-size: 11px;
        }
        &.selected {
            color: #f3c623;
            border: 1px solid #f3c623;
            background: #000;
        }
        &.reserved {
            opacity: 0.5;
            cursor: not-allowed;
            background: #000;
        }
        &:hover {
            background: #000;
        }
    }
}

.cancel-booking-btn:hover,
.are-you-sure {
    color: #FFF !important;
    border-color: #CC0000 !important;
    opacity: 1;
}


/* Modal */

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    .loading-placeholder {
        width: 100%;
        display: block;
        min-height: 50vh;
        background: url("/images/loading.gif") center center no-repeat;
    }
}


/* Modal Content/Box */

.modal-content {
    background-color: #111;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #333;
    width: 80%;
}


/* The Close Button */

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}